;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [[cider/cider-nrepl "0.22.0"]
  [com.cognitect/transit-cljs "0.8.256"]
  [org.clojure/spec.alpha "0.2.176"]
  [reagent "0.8.1"]
  [reagent-utils "0.3.3"]
  [re-frame "0.10.6"]
  [com.andrewmcveigh/cljs-time "0.5.2"]
  [re-frisk-remote "0.5.5"]
  [binaryage/devtools "0.9.10"]
  [camel-snake-kebab "0.4.0"]

  [day8.re-frame/tracing "0.5.1"]]

 :nrepl {:port 3333}
 :socket-repl {:port 9000}

 :builds
 {:app
  {:target :react-native
   :init-fn finance-clash.app/init
   :output-dir "app"
   :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
   :dev {:closure-defines
         {"re_frame.trace.trace_enabled_QMARK_" true}}
   :release {:compiler-options
             {:infer-externs :auto
              :closure-defines {"re_frame.trace.trace_enabled_QMARK_" false}
              :optimizations :simple}}
   :devtools {:autoload true
              :preloads [devtools.preload]}}}}
