;; shadow-cljs configuration
{:deps {:aliases [:cljs]}

 :dev-http {8080 "public"}
 :nrepl {:port 3333}
 :socket-repl {:port 9000}

 :builds
 {:rn
  {:target :react-native
   :init-fn finance-clash.app/init
   :output-dir "app"
   :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
   :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
   :release {:compiler-options
             {:infer-externs :auto
              :closure-defines {"re_frame.trace.trace_enabled_QMARK_" false}
              :optimizations :simple}}
   :devtools {:autoload true
              :preloads [devtools.preload]}}
  :app
  {:target :browser
   :asset-path "js"
   :output-dir "public/js"

   :module-loader true
   :modules
   {:main {:init-fn finance-clash-web.core/main}}

   :dev {:compiler-options
         {:closure-warnings {:global-this :off}
          :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}}

   :release
   {:compiler-options
    {:infer-externs :auto
     :optimizations :advanced
     :output-feature-set :es6
     :closure-defines
     {finance-clash-web.events/backend-url "https://finance-clash-msiai.pro/api"}
     :externs
     ["externs/material-ui.ext.js"
      "datascript/externs.js"]}}

   :devtools
   {:browser-inject :main
    :loader-mode :eval
    :autoload true
    :repl-pprint true
    :preloads [shadow.remote.runtime.cljs.browser
               devtools.preload
               day8.re-frame-10x.preload]}}}}
