;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.21.0"]
  [reagent "0.8.1"]
  [re-frame "0.10.6"]
  [com.andrewmcveigh/cljs-time "0.5.2"]]

 :nrepl {:port 3333}

 :builds
 {:app
  {:target :react-native
   :init-fn test.app/init
   :output-dir "app"
   :devtools {:autoload true
              :preloads [shadow.expo.keep-awake]}}}}
