[#:db{:ident :user/name,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :doc "User name"}
 #:db{:ident :user/id,
      :valueType :db.type/string,
      :unique :db.unique/identity,
      :cardinality :db.cardinality/one,
      :doc "User id"}
 #:db{:ident :user/kind,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one,
      :doc "Kind of user [:user.kind/professor, :user.kind/student]"}
 #:db{:ident :user.kind/professor}
 #:db{:ident :user.kind/student}

 #:db{:ident :lecture/id,
      :valueType :db.type/string,
      :unique :db.unique/value,
      :cardinality :db.cardinality/one,
      :doc
      "Identifier of the lecture. Usually each owner should have a unique ID."}
 #:db{:ident :lecture/title,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :doc "Name of the lecture"}
 #:db{:ident :lecture/professors,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Professor(s) of the lecture"}
 #:db{:ident :lecture/students,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Students following the lecture."}
 #:db{:ident :lecture/start,
      :valueType :db.type/instant,
      :cardinality :db.cardinality/one,
      :doc "Start date of the lecture"}
 #:db{:ident :lecture/end,
      :valueType :db.type/instant,
      :cardinality :db.cardinality/one,
      :doc "End date of the lecture"}
 #:db{:ident :lecture/templates,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Templates from which the lecture is taken"}
 #:db{:ident :lecture/problems,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Problem set offered to students for training or examination."}
 #:db{:ident :lecture/tags,
      :valueType :db.type/string,
      :cardinality :db.cardinality/many,
      :doc "Additional tags for the lecture for identifying them."}

 #:db{:ident :lecture.problems/title,
      :valueType :db.type/instant,
      :cardinality :db.cardinality/one,
      :doc "Title of the set of problems."}
 #:db{:ident :lecture.problems/kind,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/one,
      :doc "One of :exam :training :homework"}
 #:db{:ident :lecture.problems/tags,
      :valueType :db.type/string,
      :cardinality :db.cardinality/many,
      :doc "Tags of the problems."}
 #:db{:ident :lecture.problems/start,
      :valueType :db.type/instant,
      :cardinality :db.cardinality/one,
      :doc "The beginning date of the problem set."}
 #:db{:ident :lecture.problems/deadline,
      :valueType :db.type/instant,
      :cardinality :db.cardinality/one,
      :doc "Last time to return the problem set"}
 #:db{:ident :lecture.problems/questions,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Questions of the problem set."}
 #:db{:ident :lecture.problems/quizzes,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Quiz the problem set."}
 #:db{:ident :lecture.problems/shuffle?,
      :valueType :db.type/boolean,
      :cardinality :db.cardinality/one,
      :doc "Whether to shuffle the questions in the problems."}
 #:db{:ident :lecture.problems/transactions,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "All the answers provided by the student."}
 #:db{:ident :lecture.problems.transaction/user,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one,
      :doc "User who answered"}
 #:db{:ident :lecture.problems.transaction/question,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one,
      :doc "Question which was answered."}
 #:db{:ident :lecture.problems.transaction/answer,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :doc "Answer from the user."}
 #:db{:ident :lecture.problems.transaction/timestamp,
      :valueType :db.type/instant,
      :cardinality :db.cardinality/one,
      :doc "When the answer has been submitted"}

 #:db{:ident :quiz/title,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :doc "Title of the quiz."}
 #:db{:ident :quiz/tags,
      :valueType :db.type/string,
      :cardinality :db.cardinality/many,
      :doc "Tags of the quiz (category year)."}
 #:db{:ident :quiz/questions,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Questions belonging to the quiz."}

#:db{:ident :question/tags,
      :valueType :db.type/string,
      :cardinality :db.cardinality/many,
      :doc "Tags of the question (category year)."}
 #:db{:ident :question/difficulty,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/one,
      :doc "Difficulty of the question."}

 #:db{:ident :question.difficulty/easy}
 #:db{:ident :question.difficulty/medium}
 #:db{:ident :question.difficulty/hard}
 #:db{:ident :question/points,
      :valueType :db.type/keyword,
      :cardinality :db.cardinality/one,
      :doc
      "Number of points (in order to override the default difficulty points)"}
 #:db{:ident :question/title,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :doc "Title of the question."}
 #:db{:ident :question/question,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :doc "Question that is asked to the student."}
 #:db{:ident :question/explanation,
      :valueType :db.type/string,
      :cardinality :db.cardinality/one,
      :doc "Markdown string to explain the answer."}
 #:db{:ident :question/answers,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Possible answers to the student."}
 #:db{:ident :question/correct-answers,
      :valueType :db.type/ref,
      :cardinality :db.cardinality/many,
      :doc "Possible answers to the student."}

 #:db{:ident :answer/description,
      :valueType :db.type/string,
      :cardinality :db.cardinality/many,
      :doc "Possible answers to the student."}
 #:db{:ident :answer/documentation,
      :valueType :db.type/string,
      :cardinality :db.cardinality/many,
      :doc "Documentation to the question for adding details."}]
